DB_URL=jdbc:mysql://localhost:3306/workmate_ai?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
DB_USERNAME=root
DB_PASSWORD=change_me

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_TIMEOUT=2s
